﻿<style type="text/css">
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none; COLOR:blue
}

body {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 62.5%;
}

button {
	ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only
}

TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 9pt; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}
MENU {
	FONT-SIZE: 9pt; FONT-FAMILY: "Verdana"; TEXT-DECORATION: none
}
H3 {
	FONT-SIZE: 9pt; FONT-FAMILY: "Verdana"; TEXT-DECORATION: underline
}

.txtTitle {
	font-family: Verdana,新細明體;
	font-style: normal;
	font-size: 11pt;
	background-color: #FFFFFF;
}

.topTableRowLeft {
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	background-color: #C4E1FF;
	text-align: right;
	white-space: nowrap;
	vertical-align: middle;
	height:30px;
}

.topTableRowRight {
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
}

.topTableRowCenter {
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #FFFFFF;
	background-color: #AA114A;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

.tableRow {
	font-family: Verdana, "新細明體";
	font-size: 13px;
	vertical-align: middle;
	background-color: #FFFFFF;
	CURSOR: hand;
	cursor : pointer;
}

.tableRow_1 {
	vertical-align: middle;
	font-family: Verdana, "新細明體";
	font-size: 13px;
	background-color: #FFEE99;
	vertical-align: middle;
	CURSOR: hand;
	cursor : pointer;
}

.tableRow_2 {
	vertical-align: middle;
	font-family: Verdana, "新細明體";
	font-size: 13px;
	background-color: #FFD9EC;
	vertical-align: middle;
	CURSOR: hand;
	cursor : pointer;
}

.FixedTitleColumn {
	left: expression(this.parentElement.offsetParent.scrollLeft);
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	background-color: #C4E1FF;
	text-align: left;
	white-space: nowrap;
}

.FixedTitleColumnCenter {
	left: expression(this.parentElement.offsetParent.scrollLeft);
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	background-color: #C4E1FF;
	text-align: center;
	white-space: nowrap;
}

.FixedDataTableRow {
    left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
	font-family: Verdana, "新細明體";
	font-size: 13px;
	vertical-align: middle;
	CURSOR: hand;
	cursor : pointer;
	border-bottom:1px dashed #9D9D9D;
}

.FixedDataTableRowCenter {
    left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
	font-family: Verdana, "新細明體";
	font-size: 13px;
	vertical-align: middle;
	text-align: center;
	CURSOR: hand;
	cursor : pointer;
	border-bottom:1px dashed #9D9D9D;
}

.FixedDataTableRow_1 {
    left: expression(this.parentElement.offsetParent.parentElement.scrollLeft);
	font-family: Verdana, "新細明體";
	font-style: normal;
	font-size: 13px;
	vertical-align: middle;
	CURSOR: hand;
	cursor : pointer;
}

.Freezing {
   	top:expression(this.offsetParent.scrollTop);
	z-index: 10;
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	background-color: #C4E1FF;
	text-align: left;
	white-space: nowrap;
}

.Freezing th
{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space: nowrap;
	padding:2px;
}

.menuText1 {
	font-family: Verdana, "新細明體";
	font-style: normal;
	font-size: 13px;
}
.menuText {
	font-family: Verdana, "新細明體";
	font-style: normal;
	font-size: 13px;
}

.selText {
	font-family: Verdana, "新細明體";
	font-style: normal;
	font-size: 13px;
 	background-color: #FFE8F3;
}

.fieldsetBody {
	color:#F0F0F0;
	border:#F0F0F0 solid  1px;
	-moz-box-shadow: 0 0 5px #888;
 	-webkit-box-shadow: 0 0 5px #888;
 	box-shadow: 0 0 5px #888;
}

.fieldsetNormal {
	color:#F0F0F0;
	border:#d0d0d0 solid 0px;
	PADDING-LEFT: 10px;
	PADDING-RIGHT: 10px;
	PADDING-TOP: 8px;
	PADDING-BOTTOM: 10px;
}

.fieldsetResultNormal {
	color:#F0F0F0;
	border:#d0d0d0 solid 0px;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 6px;
	PADDING-TOP: 8px;
	PADDING-BOTTOM: 10px;
}

.titleStyle {
	font-family: Verdana, "新細明體";
	font-size: 14px;
	color: #000079;
	--background-color: #6abcee;
	background-color: #FBFBFF;
	vertical-align: middle;
	-moz-border-radius: 5px;
 	border-radius: 5px;
 	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
 	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
 	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
 	width:100%;
 	height:30px;
}

.txt {
	font-family: Verdana, "新細明體";
	font-size: 13px;
	color: #000000;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background: #ffffff;
	border: 1px solid #E0E0E0;
	padding: 2px 6px;
}

.divPage {
	font-family: Verdana, "新細明體";
	font-size: 16px;
	color: #000000;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	background: #E0E0E0;
	border: 1px solid #F0F0F0;
	padding: 2px 6px;
	CURSOR: hand;
	cursor : pointer;
}

.inputText{
	border: 1px solid #7F9DB9;
}

.btn_mouseout {
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	COLOR: #000000;
	FONT-SIZE: 14px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);
	CURSOR: hand;
	cursor : pointer;
	BORDER-LEFT: #C3DAF5 1px solid;
	BORDER-RIGHT: #ADADAD 2px inset;
	BORDER-TOP: #C3DAF5 1px solid;
	BORDER-BOTTOM: #ADADAD 2px inset;
}

.btn_mouseover {
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	COLOR: #ff0000;
	FONT-SIZE: 14px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#3594ce);
	CURSOR: hand;
	cursor : pointer;
	BORDER-LEFT: #C3DAF5 1px solid;
	BORDER-RIGHT: #ADADAD 2px inset;
	BORDER-TOP: #C3DAF5 1px solid;
	BORDER-BOTTOM: #ADADAD 2px inset;
}

.btn_mousedown
{
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	COLOR: #ffffff;
	FONT-SIZE: 14px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#004B97);
	CURSOR: hand;
	cursor : pointer;
	BORDER-LEFT: #C3DAF5 1px solid;
	BORDER-RIGHT: #ADADAD 2px inset;
	BORDER-TOP: #C3DAF5 1px solid;
	BORDER-BOTTOM: #ADADAD 2px inset;
}

.btn_mouseup {
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	PADDING-TOP: 3px;
	PADDING-BOTTOM: 3px;
	COLOR: black;
	FONT-SIZE: 14px;
	FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);
	CURSOR: hand;
	cursor : pointer;
	BORDER-LEFT: #C3DAF5 1px solid;
	BORDER-RIGHT: #ADADAD 2px inset;
	BORDER-TOP: #C3DAF5 1px solid;
	BORDER-BOTTOM: #ADADAD 2px inset;
}

A:link {
	font-family: Verdana, "新細明體";
	font-size: 12px;
	line-height: 18px;
/* 	color: #2828FF; */
	text-decoration: none;
}

A:visited {
	font-family: Verdana, "新細明體";
	font-size: 12px;
	line-height: 18px;
/* 	color: #AE0000; */
	text-decoration: none;
}

A:hover {
	font-family: Verdana, "新細明體";
	font-size: 12px;
	line-height: 18px;
/* 	color: #FF0000; */
	text-decoration: underline;
}

.errorMsgStyle {
    color: red;
    font-weight: bolder;
}

.inputText{
	border: 1px solid #7F9DB9;
	height: 24px;
}

.textAreaStyle{
	border: 1px solid #7F9DB9;
}

#search_block {
    margin:6px 0;
    padding:2px 3px;
    font:normal 12px/1.4 Arial, Helvetica, sans-serif;
    background-color:#F9F9F9;
    border:1px solid #D3D3D3;
}
#search_block select,#search_block input.searchInput {
    font-size:12px;
    margin-right:4px;
}

#startSapcForm fieldset { 
    padding:0; 
    border:0; 
    margin-top:25px; 
}

.ui-dialog .ui-state-error { 
	padding: .3em; 
}

.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
}
</style>
